body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Arial", Times, serif;
    width: 100%
}

* {
    box-sizing: border-box
}

nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    color: black;
    width: 100%;
    padding: 5px
}

.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%
}

.nav-links li {
    list-style: none
}

.nav-links a:hover {
    color: #99ff99;
    border-bottom: 5px solid #99ff99;
    transition: .4s
}

.nav-colored {
    background-color: #000
}

.scrolled {
    background-image: linear-gradient(45deg, #525252, #3d72b4);
    transition: 1s
}

.nav-links li a.active {
    color: #99ff99;
    border-bottom: 5px solid #99ff99
}

.burger {
    display: none;
    cursor: pointer
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all .3s ease
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px)
}

.toggle .line2 {
    opacity: 0
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px)
}

a:hover {
    color: #000
}

.about-area, .skills-area, .service-area, .contact-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 50px 0
}

.service-area .text-part p {
    text-align: center
}

.text-part {
    width: 90%;
    height: 80%
}

p {
    line-height: 26px
}

.flex-about {
    display: flex
}

.about-me-heading {
    font-size: 50px;
    font-family: 'Playfair Display SC', serif
}

.about-me-sub-heading {
    font-family: 'Taviraj', serif
}

.about-column {
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.flex-col {
    flex: 1;
    margin: 10px
}

.img-responsive {
    width: 100%;
    height: 100%
}

.skills-gallery {
    margin: 10px;
    float: left;
    width: 100px
}

.skills-gallery img {
    width: 75% !important;
    display: block;
    margin: auto;
    display: block
}



.column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px
}

.column-33 .about-img {
    display: block;
    height: auto;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%
}

.column-33 .about-img:hover {
    box-shadow: 0 4px 8px 0 #2c3e50, 0 6px 20px 0 #2c3e50;
    transition: .5s
}

.column-66 .about-me {
    font-size: 18px;
    text-align: justify;
    font-family: 'Taviraj', serif
}

.column-66 .accounts {
    margin-top: 140px
}

.column-66 .accounts h3 {
    margin-left: 10px
}

.column-66 .social-media li {
    list-style: none;
    display: inline
}

.column-66 .social-media li img:hover {
    transform: scale(1.5, 1.5);
    -webkit-transition: transform .5s;
    transition: transform .5s
}

.column-66 .social-media li a {
    text-align: center
}

.column-66 h2 {
    font-size: 29px
}

.column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px
}

.column-50 {
    float: left;
    width: 50%;
    padding: 20px
}

.column {
    margin: auto 0;
    width: 100%;
    padding: 20px
}

.column .content .skills li img {
    margin: 10px
}

.skills-area, .contact-area {
    background-image: linear-gradient(45deg, #2c3e50, #3498db);
    color: black
}

.contact-area .text-part .contact-info p {
    text-align: center;
    font-size: 100%
}

.container .row h1 {
    text-align: center
}

.column .contact-me {
    margin: auto;
    width: 50%
}

.project_lists {
    text-align: center;
    list-style: none;
    display: inline
}

.project_lists a {
    text-decoration: none
}

.container-about {
    padding: 70px;
    margin: auto
}

.container-about .row h1 {
    text-align: center
}

.row::after {
    content: "";
    clear: both;
    display: table
}

.card {
    padding: 16px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px
}

.card .title {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Taviraj', serif
}

.card .content ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline
}

.footer {
    background-color: rgba(217, 217, 217, 0.5);
    padding: 50px;
    text-align: center
}

.fab {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth
}
/* Buttons */

.btn {
    background-color: white;
    border: 0;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    cursor: pointer
}

.btn-works {
    background-color: transparent;
    color: white;
    border: 2px solid white
}

.btn-works:hover {
    background-color: white;
    color: black
}

.btn-resume {
    background-color: black;
    border: 0;
    color: white;
    padding: 5px 18px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px
}

.btn-details {
    background-color: transparent;
}

.btn-resume:hover {
    background-color: #3498db;
    color: white;
    transition: background-color 1s
}

/* //Buttons */

.info {
    border-color: #2196F3;
    color: dodgerblue;
}

.info:hover {
    background-image: linear-gradient(45deg, #2c3e50, #3498db);
    color: white;
    transition: 1s ease;
}

h1.banner-main {
    font-size: 70px;
    margin-bottom: 0px;
}

h2.banner-submain {
    font-size: 25px
}

.banner-intro .btn {
    font-size: 1.5rem;
    border-radius: 5px;
    font-family: 'Taviraj', serif
}

.portfolio_main {
    width: 100%;
    margin: auto;
    padding: 20px
}

.portfolio_row {
    margin: 8px -16px;
}

.portfolio_row, .portfolio_row > .portfolio_column {
    padding: 8px
}

.portfolio_column {
    float: left;
    width: 25%
}

.portfolio_row:after {
    content: "";
    display: table;
    clear: both
}

.portfolio_content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: .3s;
    padding-bottom: 10px
}

.portfolio_content:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
}

.portfolio_content img {
    border-radius: 5px 5px 0 0
}

.portfolio-center {
    text-align: center;
    font-weight: bold;
}

.portfolio-title {
    color: #3d72b4;
    border-bottom: 5px solid #3d72b4;
    font-weight: bold;
}

.portfolio-skills {
    list-style-type: none;
}

.portfolio-skills li:before {
     content: '\27A4';
}

.portfolio-skills li:hover {
   color: #3d72b4;
}

.portfolio-repo {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.portfolio-repo a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.portfolio-repo a:hover {
    text-decoration: underline;
    color: #3d72b4;
}

/* Collapsible */
.collapsible {
    background-color: #4d4d4d;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 12px;
    margin: auto;
    display: block;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.collapsible:after {
    content: '\25BC';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.collapsible-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; 
    background-color: #f1f1f1;
    margin: 10px 10px 10px 10px;
}

.collapse-active, .collapsible:hover {
    background-image: linear-gradient(45deg, #2c3e50, #3498db);
}

.collapse-active:after {
    content: "\25B2";
}


/* //Collapsible */

/* Contact */
.contact_link {
    color: black;
}

#contact_fb:hover {
    color: #3B5998;
    cursor: pointer;
}

#contact_gh:hover {
    color: #6cc644;
    cursor: pointer;
}

#contact_li:hover {
    color: #0E76A8;
}
/* //Contact */

@media screen and (max-width:1200px) {
    .nav-links {
        width: 50%
    }

    .banner-area {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 70vh;
        background-image: linear-gradient(#2c3e50, #3498db);
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        color: white
    }

    .banner-area>.banner-intro {
        position: absolute;
        top: 100px;
        text-align: center
    }

    .logo {
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: 'Sirin Stencil', cursive
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 19px;
        text-transform: uppercase
    }

    .flex-about {
        width: 100%;
        display: block
    }

    .flex-about .flex-col img {
        width: 100%;
        display: block;
        height: auto
    }
}

@media screen and (min-width:1200px) {
    .nav-links {
        width: 40%
    }

    .banner-area {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 70vh;
        background-image: linear-gradient(180deg, #2c3e50, #3498db);
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        color: white
    }

    .banner-area>.banner-intro {
        position: absolute;
        top: 100px;
        text-align: center
    }

    .logo {
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 20px;
        font-family: 'Sirin Stencil', cursive
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: bold;
        text-transform: uppercase
    }

    .column-66 .about-sentence {
        margin-top: 0
    }
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%
    }

    .container {
        overflow-x: hidden;
        overflow-y: hidden
    }

    .banner-area {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 70vh;
        background-image: linear-gradient(120deg, #2c3e50, #3498db);
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        color: white
    }

    .banner-area>.banner-intro {
        position: absolute;
        top: 100px;
        text-align: center
    }

    .logo {
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: 'Sirin Stencil', cursive
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase
    }

    .flex-about {
        width: 100%;
        display: block
    }

    .flex-about .flex-col img {
        width: 100%;
        display: block
    }

    h1.banner-main {
        font-size: 40px
    }

    h2.banner-submain {
        font-size: 20px
    }

    .banner-intro .btn {
        font-size: 1rem;
        border-radius: 5px;
        font-family: 'Taviraj', serif
    }

    .column-66 .about-sentence {
        margin-top: 0
    }

    .column-66 .about-sentence h2 {
        font-size: 22px
    }

    .column-66 .about-sentence p {
        font-size: 18px
    }
}

@media screen and (max-width:900px) {
    .portfolio_column {
        width: 50%
    }
}

@media screen and (max-width:768px) {

    html,
    body {
        overflow-x: hidden
    }

    .banner-area {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 70vh;
        background-image: linear-gradient(90deg, #2c3e50, #3498db);
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        color: white
    }

    .banner-area>.banner-intro {
        position: absolute;
        top: 50px;
        text-align: center
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 60vh;
        top: 60px;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform .5s ease-out;
        z-index: 1
    }

    .nav-links li {
        opacity: 0
    }

    .burger {
        display: block
    }

    .logo {
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: 'Sirin Stencil', cursive
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase
    }

    .flex-about {
        width: 100%;
        display: block
    }

    .flex-about .flex-col img {
        width: 100%;
        display: block
    }

    .column-66,
    .column-33 {
        width: 100%;
        text-align: center;
        display: flex
    }

    .container-about {
        padding: 0
    }

    .column-66 .about-sentence {
        margin-top: 0
    }

    .column-66 h2 {
        font-size: 24px;
        text-indent: 20px
    }

    .column-66 .about-me {
        font-size: 17px;
        font-family: 'Taviraj', serif
    }

    .column .accounts {
        margin-top: 50px
    }

    .column-50 {
        width: 100%;
        text-align: center;
        padding: 5px 5px
    }

    .column {
        padding: 5px 5px
    }

    .contact-area .text-part .contact-info p {
        text-align: center;
        font-size: 90%
    }

    .about-me-heading {
        font-size: 30px
    }

    .about-column {
        border: 0;
        border-radius: 0;
        box-shadow: 0
    }
}

@media screen and (max-width:600px) {
    .nav-links {
        width: 100%
    }

    .container {
        overflow-x: hidden;
        overflow-y: hidden
    }

    .banner-area {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 50vh;
        background-image: linear-gradient(45deg, #2c3e50, #3498db);
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        color: white
    }

    .banner-area>.banner-intro {
        position: absolute;
        top: 60px;
        text-align: center;
        padding: 5px
    }

    .logo {
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: 'Sirin Stencil', cursive
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 16px
    }

    .flex-about {
        width: 100%;
        display: block
    }

    .flex-about .flex-col img {
        width: 100%;
        display: block
    }

    .column-50 {
        width: 100%;
        text-align: center
    }

    h1.banner-main {
        font-size: 40px
    }

    h2.banner-submain {
        font-size: 20px
    }

    .banner-intro .btn {
        font-size: 1rem;
        border-radius: 5px;
        font-family: 'Taviraj', serif
    }

    .portfolio_column {
        width: 100%
    }

    .about-me-heading {
        font-size: 30px
    }
}

@media screen and (min-width:300px) {
    .banner-area {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 80vh;
        background-image: linear-gradient(45deg, #2c3e50, #3498db);
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        color: white
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(50px)
    }

    to {
        opacity: 1;
        transform: translateY(0px)
    }
}
.nav-active {
    transform: translateY(0%);
    background-image: linear-gradient(90deg, #525252, #3d72b4)
}
